html, body {
  margin:0px;
  padding:0px;
  font-family:"Oxygen",Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size:15px;
  background-color: #f3f3f3;
  color: #334;
  overflow-x: hidden;
  overflow-y: auto;
}

html.dark, html.dark body {
  background-color: #222229;
  color: #f9f9f9;
}

.red { color:#d73333; }
.green { color:#56ca3b; }
.blue { color:#33c9d7; }
.yellow { color:#efd110; }

ul {
  padding:0;
  margin:0;
  overflow-x: hidden;
}

#main {
	width: 100%;
	display: block;
	transition: background-color 250ms ease-in-out;
}

.main-width {
  width: 95%;
  max-width: 1024px;
  margin:auto;
}

#post-form {
  width:100%;
  margin-bottom:20px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

input, textarea {
  border:none;
  background-color:white;
  color:#1C140D;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.auth-buttons {
	float: right;
	height: 100%;
	display: block;
	overflow: hidden;
}


button:focus {outline:0 !important;}

.auth-buttons * {
	display: block;
}

#logout {
	float: left;
	border: 0;
	margin: 5px 0;
	height: 45px;
}

#settings-button i {
	display: block;
	margin-top: 8px;
	
	transition: color 100ms ease-in-out;
}

#settings-button:hover i {
	color: #bbb;
}

h3 {
	color: #334;
	margin:0 0 16px 0;
}

html.dark h3 {
	color: #fcfcfc;
}

h4 {}
html.dark h4 {
	color: #f9f9f9;
}

#header {
	color: #334;
	cursor: default;
	width:100%;
	padding:0;
	margin:0 0 32px 0;
	height:52px;
	background-color: #fcfcfc;
	font-size:24px;
	line-height:50px;
	vertical-align:middle;
	overflow: hidden;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255,255,255,0);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
}

html.dark #header {
	color: #fff;
	background-color: #333339;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}

#header .main-width {
	height: 100%;
}

.logo {
	line-height: 50px;
	vertical-align: middle;
	position: relative;
	top:-1px;
}

#thermopi-logo {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin-top: -2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#thermopi-logo .icon {
	font-size: 32px;
    position: relative;
    top: 8px;
}

#settings-button {
	padding: 0;
	margin: 8px 0px 8px 16px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	background-color: rgba(0,0,0,0);
	box-shadow: none;
	height: 36px;
	width: 45px;
	border: 1px rgba(0,0,0,0.25) solid;
}

#settings-button:hover {
	background-color: rgba(0,0,0,0.075);
}

html.dark #settings-button {
	border: 1px rgba(0,0,0,0.4) solid;
}

#settings-button i.icon {
	color: #334;
	height: 36px;
	line-height: 36px;
	width: 100%;
	display: block;
	margin:0 0 0 0;
	padding: 0;
}

html.dark #settings-button i.icon {
	color: #f9f9f9;
}

.full-field {
	padding:4px;
	width:772px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:15px;
	margin-bottom:10px;
}

#post-submit {
	width: 100%;
}

#post-submit:hover {
	cursor:pointer;
}

#observed-temp-wrapper {
	height: 170px;
}

#observed-temp {
	font-size: 148px;
	line-height: 150px;
	vertical-align: middle;
	height: 170px;
}

#observed-temp .deg-small {
	font-size: 40%;
}

#control > .row {
	vertical-align: middle;
}

#control-label {
	vertical-align: middle;
	line-height: 15px;
	height: 15px;
	font-size: 14px;
	font-weight: 300;
	opacity: 0.9;
	margin-bottom: 32px;
}

.control-row,
.control-row > * {
	height: 64px;
	line-height: 64px;
}

.control-btn {
	width: 24px;
	height: 24px;
	margin: 20px 0 20px 0;
	padding: 0;
	border: none;
	overflow: hidden;
	border-radius: 12px;
	background: none;
	opacity: 1;
	
	-o-transition:250ms;
	-ms-transition:250ms;
	-moz-transition:250ms;
	-webkit-transition:250ms;
	/* ...and now for the proper property */
	transition:250ms;
}

body.desktop .control-btn:hover,
body.mobile .control-btn:active {
	opacity: 0.25;
}

.control-btn i {
	position: relative;
	top:-18px;
}

.set-temp {
	height: 64px;
}

#control-single,
#control-dual,
#control-dummy {
	margin-bottom: 18px;
}

#control-dummy .set-temp {
	font-size: 50px;
	vertical-align: middle;
	line-height: 64px;
	color: rgba(0,0,0,0.3);
}

html.dark #control-dummy .set-temp {
	color: rgba(250,250,250,0.3);
}

#control-single .set-temp {
	font-size: 50px;
}

#control-dual .set-temp {
	font-size: 32px;
}

#control-settings {
	height: 40px !important;
	margin-bottom: 36px;
}

#control-settings button {
	width: 100%;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
}

#control-settings button i {
	padding: 0;
	margin: 0;
	position: relative;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
}

#control-settings button.off i { color: rgba(0,0,0,0.2); }
html.dark #control-settings button.off i { color: rgba(255,255,255,0.2); }
#control-settings button.on i { color: white; }

#control-settings button.off { background-color: #ccc; box-shadow: 0px 1px 0px #aaa; }
html.dark #control-settings button.off { background-color: #334; box-shadow: 0px 1px 0px #000; }
#btn-fan.on { background-color: #56ca3b; box-shadow: 0px 1px 0px #1ea03f; }
#btn-heat.on { background-color: #d73333; box-shadow: 0px 1px 0px #a8152e; }
#btn-cool.on { background-color: #33c9d7; box-shadow: 0px 1px 0px #1ba4ca; }

body.desktop #control-settings button.off:hover { background-color: #aaa; box-shadow: 0px 1px 0px #999; }
html.dark body.desktop #control-settings button.off:hover { background-color: #556; box-shadow: 0px 1px 0px #000; }
body.desktop #btn-fan.on:hover { background-color: #66da4b; box-shadow: 0px 1px 0px #2eb04f; }
body.desktop #btn-heat.on:hover { background-color: #e74343; box-shadow: 0px 1px 0px #b8253e; }
body.desktop #btn-cool.on:hover { background-color: #43d9e7; box-shadow: 0px 1px 0px #2bb4da; }

#check-for-updates-btn {
	cursor: pointer;
	background-color: #33c9d7;
	box-shadow: 0px 1px 0px #1ba4ca;
	font-family:"Oxygen",Helvetica, Arial, sans-serif;
}

body.desktop #check-for-updates-btn:hover { 
	background-color: #43d9e7; 
	box-shadow: 0px 1px 0px #2bb4da; 
}

ul {
	list-style:none;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
}

.card {
	background-color: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	border-radius: 2px;
	padding: 0;
	margin: 0 0 8px 0;
}
html.dark .card {
	background-color: #333339;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.sensor-list li {
	list-style:none;
	display: block;
	width: 100%;
	height: 48px;
	font-size: 18px;
	vertical-align: middle;
	line-height: 48px;
}

#sensor-list-settings li {
	height: auto;
	min-height: 48px;
}

.sensor-list li .row > * {
	height: 100%;
	max-height: 100%;
}

.sensor-list li .icon {
	font-size: 90%;
}

.sensor-list li button {
	border-radius: 16px;
	width: 32px;
	height: 32px;
	margin: 8px 0 8px 0;
	padding: 0;
	display: block;
	border: none;
	background-color: rgba(0,0,0,0);
	
	-o-transition:250ms;
	-ms-transition:250ms;
	-moz-transition:250ms;
	-webkit-transition:250ms;
	/* ...and now for the proper property */
	transition:250ms;
}

.sensor-list li.off .sensor-temp,
.sensor-list li.warning .sensor-temp {
	opacity: 0.3;
}

body.desktop .sensor-list li button:hover,
body.mobile .sensor-list li button:active{
	background-color: rgba(0,0,0,0.1);
}

.sensor-list li button i {
	position: relative;
	top:-7px;
	left:-0.5px;
}

.sensor-list li.on button.sensor-toggle .icon-eye-blocked { display: none; }
.sensor-list li.off button.sensor-toggle .icon-eye { display: none; }

.sensor-info {
	height: auto;
	padding: 8px;
	line-height: 17px;
	vertical-align: baseline;
	font-size: 12px;
}

.sensor-info code {
	color: #235671;
	background-color: #f3f6f7;
}

html.dark .sensor-info code {
	color: #a7c7d5;
	background-color: #292932;
}

#btn-new-sensor {
	display: block;
	background: none;
	padding: 0 16px 0 16px;
	margin: 0 auto 0 auto;
	border: none;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
	transition:250ms;
}

#btn-new-sensor:hover {
	opacity: 0.75;
	transition:250ms;
}

#btn-new-sensor i {
	height: 100%;
	display: inline-block;
	line-height: 36px;
	vertical-align: middle;
	margin: 0 10px 0 0;
	padding: 0;
}

span.deg-small {
	font-size: 60%;
}

/* Charts */
#charts-wrapper {
	height: 300px;
	margin: 10px 0 10px 0;
	background-color: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	border-radius: 2px;
	position: relative;
}

html.dark #charts-wrapper {
	background-color: #333339;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.chart-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: block;
}

.back-btn {
	color: #667;
	display: block;
	padding: 0;
	margin: 0 0 16px 0;
	background: none;
	border: none;
	vertical-align: middle;
	
	-o-transition:250ms;
	-ms-transition:250ms;
	-moz-transition:250ms;
	-webkit-transition:250ms;
}

.back-btn i.icon {
	position: relative;
	top:-1px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	display: inline-block;
}

.back-btn:hover {
	opacity: 0.5;
}

html.dark .back-btn {
	color: #aab;
}

.info span {
	line-height: 16px;
	vertical-align: middle;
}

.info .name {
  color:rgba(255,255,255,0.95);
  font-size:18px;
  font-weight:bold;
}

.info .datetext {
  color:rgba(255,255,255,0.6);
  font-size:10px;
  font-weight:normal;
}

.gray {
  background-color: #303030;
  padding:10px;
}

.box {
  background-color: #303030;
  margin:0px;
  padding:0;
  width:100%;
  margin-bottom:20px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.info {
  width:120px;
  background-color:#CBE86B;
  padding:10px;
  font-weight:bold;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.body {
  padding:10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.settings-card-toggle {
	height: 48px;
}

.settings-card-toggle .settings-label {
	height: 100%;
	line-height: 48px;
	vertical-align: middle;
	margin: 0 0 0 10px;
	padding: 0;
	font-weight: 300;
	font-size: 18px;
}

.settings-card-toggle .toggle-switch {
	margin-top: 10px;
	margin-right: 10px;
}

.toggle-switch {
	height: 28px;
	width: 58px;
	position: relative;
}
.toggle-switch input[type='checkbox'] {
	display: none;
}
.toggle-switch input[type='checkbox']:checked ~ .toggle {
	background: #45b2da;
	left: 30px;
	transition: .2s;
}
.toggle-switch input[type='checkbox']:checked ~ .switch {
	background: #1f8ad6;
	transition: .2s;
}
.toggle-switch .switch {
	display: block;
	width: 50px;
	height: 20px;
	background: #cccccf;
	border-radius: 10px;
	position: absolute;
	top: 4px;
	left: 4px;
	transition: .2s;
	cursor:pointer;
}
html.dark .toggle-switch .switch {
	background: #444449;
}
.toggle-switch .toggle {
	height: 28px;
	width: 28px;
	border-radius: 50%;
	background: #eeeeef;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	transition: .2s;
	cursor:pointer;
}
html.dark .toggle-switch .toggle {
	background: #555559;
}

#error-box {
  background-color:#e86b6b;
  padding:8px;
  width:784px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family:Helvetica, Arial, sans-serif;
  font-size:18px;
  font-weight:bold;
  margin-bottom:20px;
}

.body.message {
  width:calc(100% - 120px);
  word-wrap:break-word;
  font-size: 17px;
}

.popup {
	margin: 0;
	padding: 0;
	display: block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top:0;
	left: 0;
}

.popup .popup-shade {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	position: absolute;
	top:0;
	left: 0;
	z-index: 2;
}

.popup .popup-shade .popup-shade-btn {
	width: 100%;
	height: 100%;
	background:none;
	cursor: default;
	position: absolute;
	top:0;
	left: 0;
	z-index: 2;
	margin: 0;
	padding: 0;
	border: none;
}

.popup .popup-well {
	background-color: white;
	position:fixed;
    left: 50%;
    top: 50%;
	-ms-transform: translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	padding: 16px;
	border-radius: 2px;
	z-index: 3;
}
html.dark .popup .popup-well { background-color: #333339; }

.popup .popup-well .popup-content h4 {
	margin-top: 0;
}

.popup .popup-buttons {
	display: block;
	margin: 0 auto 0 auto;
	height: 30px;
    text-align: center;
}

.popup .popup-buttons ul,
.popup .popup-buttons ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	height: 100%;
}

.popup .popup-buttons ul {
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

.popup .popup-buttons ul li {
	display: inline-block;
	margin-right: 24px;
}

.popup .popup-buttons ul li:last-child {
	margin: 0;
}

.popup .popup-buttons ul li button {
	text-transform: uppercase;
	display: block;
	height: 100%;
	line-height: 30px;
	vertical-align: middle;
	padding: 0 16px;
	margin: 0;
	border: none;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
}

.popup .popup-buttons ul li button.affirmative {
	background-color: #2196f3;
	color: white;
	transition: .2s;
}

.popup .popup-buttons ul li button.affirmative:hover {
	background-color: #1076d3;
	transition: .2s;
}

.popup .popup-buttons ul li button.cancel {
	background: rgba(0,0,0,0);
    -webkit-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.4);
    -moz-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.4);
    box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.4);
	transition: .2s;
}

.popup .popup-buttons ul li button.cancel:hover {
	background-color: rgba(0,0,0,0.2);
	transition: .2s;
}

.popup .popup-well .popup-content p {
	line-height: 18px;
	color: #334;
}

html.dark .popup .popup-well .popup-content p {
	color: #ccc;
}

.popup .popup-well .popup-content .input-error {
	color: #ff1313;
	font-size: 13px;
	font-weight: bold;
	opacity: 0.8;
	line-height: 14px;
}

.hidden { display: none; }
.w-100 { width: 100% !important; }
.w-50  { width: 50%  !important; }
.h-100 { height: 100% !important; }
.h-50  { height: 50%  !important; }
.p-0 { padding: 0 !important; }
.m-0 { margin: 0 !important; }
.f-l { float: left !important; }
.f-r { float: right !important; }
.c-b { clear: both !important; }
.ta-l { text-align: left !important; }
.ta-c { text-align: center !important; }
.ta-r { text-align: right !important; }
.cur-d { cursor: default !important; }
.cur-p { cursor: pointer !important; }
.cur-a { cursor: auto !important; }
.noselect {
    -webkit-user-select: none !important; /* Safari, iOS, and Android */
       -moz-user-select: none !important; /* Firefox */
        -ms-user-select: none !important; /* Internet Explorer/Edge */
            user-select: none !important; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.select {
    -webkit-user-select: text !important; /* Safari, iOS, and Android */
       -moz-user-select: text !important; /* Firefox */
        -ms-user-select: text !important; /* Internet Explorer/Edge */
            user-select: text !important; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.7; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.7; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.7; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.7; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite ease;
   -moz-animation: flickerAnimation 1s infinite ease;
   -o-animation: flickerAnimation 1s infinite ease;
    animation: flickerAnimation 1s infinite ease;
}

.well {
	background-color: transparent !important;
}

input[type=text], input[type=email], input[type=password] {
	-webkit-box-shadow: 0 0 0 30px #f3f3f3 inset !important;
	border-bottom: #ccc 2px solid !important;
}

.popup input[type=text] {
	box-shadow: none !important;
}

html.dark input[type=text] {
	border-bottom: 2px solid rgba(255,255,255,0.3) !important;
	color: #eee !important;
}
html.dark input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: rgba(255,255,255,0.3);
}
html.dark input[type=text]::-moz-placeholder { /* Firefox 19+ */
	color: rgba(255,255,255,0.3);
}
html.dark input[type=text]:-ms-input-placeholder { /* IE 10+ */
	color: rgba(255,255,255,0.3);
}
html.dark input[type=text]:-moz-placeholder { /* Firefox 18- */
	color: rgba(255,255,255,0.3);
}

.alert {
	
}